{% extends 'base.html.twig' %}

{% block title %}My Recipes{% endblock %}

{% block section %}
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2><span>MY RECIPES</span></h2>
                    <p>where you can share your recipes to the world</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
<div class="container-fluid d-flex align-items-center flex-column chn-myRecipeContainer">
    {% for recipe in recipes %}
        <div class="chn-cardRecpContainer">
            <div class="chn-cardRecpImgContainer">
                <img src="{{ asset(recipe.img) }}" class="chn-cardRecipeImg" alt="...">
            </div>
            <div class="chn-cardRecpContentContainer">
                <h2 class="chn-cardRecpTitle">{{ recipe.title }}</h2>
                <p class="chn-cardRecpContent">{{ recipe.content }}</p>
            </div>
            <div class="chn-cardRecpBtnCOntainer">
                <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="btn btn-primary chn-btns">Edit</a>
                {{ include('recipe/_delete_form.html.twig') }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}